/* 鼠标图标 */
body {
  cursor: url(https://cdn.jsdelivr.net/gh/moelody/cdn/blog/cursor-huaji.png), auto;
  margin: 0;
}
a:hover{
  text-decoration: none;
  cursor: url(https://cdn.jsdelivr.net/gh/moelody/cdn/blog/cursor-angry.png), auto;
}